@model Subscriber
 <div class="newsletter-forn">
     <form id="form" method="post" >
         <input id="email" asp-for="Email" placeholder="Your Email address">
         <button asp-controller="subscribe" asp-action="form" type="submit" class="main-btn">Subscribe</button>
     </form>
 </div>


 <script>
   //let Btn = document.getElementById("send")
   //let email= document.getElementById("email")
   //Btn.onclick = function(ev){
   //    ev.preventDefault();
   //    console.log(email.value)

//       var body = {
//    Email: email.value }

//axios({
//    method: 'post',
//    url: '/subscribe/form',
//    data: body
//})
//.then(function (response) {
//     swal({
//              title: "Thanks for Subscribe!",
//              text: "We will send all news!",
//              icon: "success",
//          });
//    console.log(response);
//})
//.catch(function (error) {
//    console.log(error);
//});
//}
</script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>