@model OrderVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/AdminPanel/Views/_AdminLayout.cshtml";
    int no = 0;
    var username = "";
    foreach (var item in Model.AppUsers)
    {
        foreach (var order in Model.Orders)
        {
            if (order.AppUserId==item.Id)
            {
                username = item.FullName;
                break;
            }
        }
    }
}
    <!-- /.row -->
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Responsive Hover Table</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>No</th>
                      <th>Owner</th>
                      <th>Date</th>
                      <th>Order Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    @foreach (var item in Model.Orders)
                    {
                       no++;
                      <tr>
                      <td>@no</td>
                       @foreach (var user in Model.AppUsers)
                      {
                         if (item.AppUserId==user.Id)
                        {
                         <td>@user.FullName</td>
                         @*break;*@
                        }
                      }
                      <td>@item.SaledAt.ToString("dddd, dd MMMM yyyy HH:mm:ss.fff")</td>
                      <td>@item.OrderStatus</td>
                     </tr>
                   }
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
        <!-- /.row -->